body { background: #29da21; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 33px; display: flex; }
.block-config-0 { color: #454ab6; font-size: 12px; margin-bottom: 5px; }
.block-cluster-1 { color: #b77883; font-size: 12px; margin-bottom: 5px; }
.block-email-2 { color: #c956dd; font-size: 14px; margin-bottom: 5px; }
.block-config-3 { color: #f2d73b; font-size: 18px; margin-bottom: 5px; }
.block-filter-4 { color: #dac8fa; font-size: 21px; margin-bottom: 5px; }
.block-user-5 { color: #8907ee; font-size: 20px; margin-bottom: 5px; }
.block-token-6 { color: #3510d9; font-size: 18px; margin-bottom: 5px; }
.block-cluster-7 { color: #e022b4; font-size: 18px; margin-bottom: 5px; }